.logo-lg img{
    width: 90%;
    /* height: 90%; */
}
ol.breadcrumb {
    float: right;
}
li.breadcrumb-item {
    font-weight: bold;
}
.redAstrick{
    color: red;
}
.parsley-type{
    color: red;
}
.parsley-required{
    color: red;
}
.btn{
    color: rgb(252, 252, 252) !important;
}
.modal-header{
    background-color: #5bc0de;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: #71b6f9 !important;
}
.logoImg{
    width: 25%;
}